header {
  padding: 2.5vh;
}
.App{
  display: flex;
  justify-content: space-around;
}

textarea {
  width: 45vw;
  height: 80vh;
  padding: 1.5vw;
  font-size: x-large;
  overflow: scroll;
  resize: none;
}

.displayarea {
  width: 48vw;
  height: 80vh;
  font-size: large;
  overflow: scroll;
  padding: 1.5vw;
  border: 0.5px solid #AAA;
}

