header {
  padding: 3vh;
}
.App{
  display: flex;
  justify-content: space-evenly;
}

textarea {
  width: 45vw;
  height: 85vh;
  margin: 0.5vw;
  padding: 0.5vw;
  font-size: x-large;
  resize: none;
}

.displayarea {
  width: 48vw;
  height: 85vh;
  margin: 0.5vw;
  font-size: large;
  padding: 0.5vw;
  border: 0.5px solid #AAA;
}

